[Desktop Entry]
Type=Application
Exec=/usr/bin/heeksCNC2.sh
Icon=HeeksCNC2
Terminal=false
Name=HeeksCNC2
GenericName=HeeksCNC2
Comment=CAD-CAM Software using wxPython
Categories=Graphics;Engineering;3DGraphics;
