Package: cam
Source: heeks2
Version: 0.0.1
Section: editors
Priority: extra
Maintainer: Dan Heeks <danheeks@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, python3-dev, freeglut3-dev, libboost-python-dev, cad-dev
Standards-Version: 3.9.3
Homepage: https://github.com/danheeks/PyCAM
Vcs-Git: https://github.com/danheeks/PyCAM.git
Vcs-Browser: https://github.com/danheeks/PyCAM

Package: cam
Architecture: any
Depends: ${shlibs:Depends}, cad-dev, python3-wxgtk4.0
Description: CAD software using CAD ( from Heeks2 project )
